
/* === NAVEGAÇÃO === */

nav {
    z-index: 1000;
    font-size: 24px;
    background-color: #f1f3f7;
  }
a{
  text-decoration: none;
  color: rgb(78, 77, 77);
}
a:hover{
  color: black;
  font-weight: 550;
}

  
  